{% extends "base.html" %}
{% block content %}

	<script type="text/javascript">
		document.getElementById('servicios').className = 'active';
	</script>

	<div class="row">
	    <div class="col-lg-12">
	        <h1 class="page-header">
	            Servicios
	            <small>Listado de servicios</small>
	        </h1>
	        <ol class="breadcrumb">
	            <li>
	                <i class="fa fa-dashboard"></i>  <a href="/">Inicio</a>
	            </li>
	            <li class="active">
	                <i class="fa fa-file"></i> Servicios
	            </li>
	        </ol>
	    </div>
		<table class="ui celled table">
			<thead>
		    	<tr>
		    		<th>Código</th>
		    		<th>Nombre</th>
		    		<th>Descripción</th>
		    		<th>Precio</th>
		    		<th>Empresa</th>
		  		</tr>
		  	</thead>
			<tbody>
				{% for servicio in servicios %}
				<tr>
					<td>{{servicio.id}}</td>
					<td>{{servicio.nombre}}</td>
					<td>{{servicio.descripcion}}</td>
					<td>{{servicio.precio}}</td>
					<td>{{servicio.empresa}}</td>
				</tr>
				{% endfor %}
		  	</tbody>
		</table>
	</div>
{% endblock content %}