{% extends "base.html" %}
{% block content %}

	<script type="text/javascript">
		document.getElementById('clientes').className = 'active';
	</script>

	<div class="row">
	    <div class="col-lg-12">
	        <h1 class="page-header">
	            Clientes
	            <small>Listado de clientes</small>
	        </h1>
	        <ol class="breadcrumb">
	            <li>
	                <i class="fa fa-dashboard"></i>  <a href="/">Inicio</a>
	            </li>
	            <li class="active">
	                <i class="fa fa-file"></i> Clientes
	            </li>
	        </ol>
	    </div>
	    <table class="ui celled table">
	    	<thead>
	        	<tr>
	        		<th>Código</th>
	        		<th>Identificación</th>
	        		<th>Nombre</th>
	        		<th>Direcion</th>
	        		<th>eMail</th>
	        		<th>Teléfonos</th>
	      		</tr>
	      	</thead>
	    	<tbody>
	    		{% for cliente in clientes %}
	    		<tr>
	    			<td>{{cliente.id}}</td>
	    			<td>{{cliente.identificacion}}</td>
	    			<td>{{cliente}}</td>
	    			<td>{{cliente.direccion}}</td>
	    			<td>{{cliente.email}}</td>
	    			<td>{{cliente.telefonos}}</td>
	    		</tr>
	    		{% endfor %}
	      	</tbody>
	    </table>
	</div>
{% endblock content %}