{% extends "app1/base.html" %}
{% block content %}

	<script type="text/javascript">
		document.getElementById('cotizaciones').className = 'active';
	</script>

	<div class="row">
		<div class="col-lg-12">
		    <h1 class="page-header">
		        Cotizaciones
		        <small>Listado de cotizaciones</small>
		    </h1>
		    <ol class="breadcrumb">
	            <li><a class="section" href="/"><i class="circular folder icon"></i>Inicio</a></li>
	            <i class="right chevron icon divider"></i>
	            <li><a class="section" href="/cotizaciones"><i class="circular folder icon"></i>Cotizaciones</a></li>
	            <i class="right chevron icon divider"></i>
	            <li class="active"><i class="circular folder open icon"></i> {{cotizacion.id}}</li>
	        </ol>
		</div>
		<div class="col-lg-12">
				<ul class="list-unstyled">
					<li class="active">
						<button type="button" id='imprimir' class="ui inverted green icon button" onclick="javascript:window.print()">
							<i class="print icon"></i> Imprimir
						</button>
					</li>
				</ul>
		</div>
		<div class="col-lg-12">
			<table class="ui celled table">
				<thead>
			    	<tr>
			    		<th>Código</th>
			    		<th>Fecha</th>
			    		<th>Cliente</th>
			    		<th>Empleado</th>
			    		<th>Total Neto</th>
							<th>Bono</th>
							<th>Descuento</th>
							<th>Total</th>
							<th>Total + IVA</th>
			  		</tr>
			  	</thead>
				<tbody>
					<tr>
						<td width="30">{{cotizacion.id}}</td>
						<td>{{cotizacion.fecha}}</td>
						<td>{{cotizacion.cliente}}</td>
						<td>{{cotizacion.empleado}}</td>
						<td>$ {{cotizacion.total_neto}}</td>
						<td>$ {{bono.valor}}</td>
						<td>{{descuento.valor}}%</td>
						<td>$ {{cotizacion.total}}</td>
						<td>$ {{cotizacion.total_iva}}</td>
					</tr>
			  	</tbody>
			</table>
			<h2>Items de la cotización</h2>
			<table class="ui selectable celled table">
				<thead>
			    	<tr>
							<th>Código</th>
			    		<th>Estado</th>
			    		<th>Producto</th>
			    		<th>Servicio</th>
			    		<th>Cantidad</th>
			    		<th>Subtotal</th>
							<th>Acciones</th>
			  		</tr>
			  	</thead>
				<tbody>
					{% for detalle in detalles %}
					<tr>
						<td width="30">{{detalle.id}}</td>
						<td>{{detalle.idEstadoDetalleCotizacion}}</td>
						<td class="selectable"><a href="/productos/{{detalle.producto.id}}">{{detalle.producto}}</a></td>
						<td class="selectable"><a href="/servicios/{{detalle.servicio.id}}">{{detalle.servicio}}</td>
						<td>{{detalle.cantidad}}</td>
						<td>$ {{detalle.subtotal}}</td>
						<td>
							<button type="button" class="ui yellow icon button" onclick="window.location.href='detalle/edit/{{detalle.id}}'"><i class="edit icon"></i></button>
							<button type="button" class="ui negative icon button" onclick="window.location.href='detalle/delete/{{detalle.id}}'"><i class="remove icon"></i></button>
						</td>
					</tr>
					{% endfor %}
			  	</tbody>
			</table>
		</div>
	</div>
	<br>
	<div class="row">
	    <div class="col-lg-12">
			{% block form %}

		    {% endblock form %}
	    </div>
	</div>


{% endblock content %}
