{% extends "app1/base.html" %}
{% block content %}

	<script type="text/javascript">
		document.getElementById('cotizaciones').className = 'active';
	</script>

	<div class="row">
	    <div class="col-lg-12">
	        <h1 class="page-header">
	            Cotizaciones
	            <small>Listado de cotizaciones</small>
	        </h1>
	        <ol class="breadcrumb">
	            <li><a class="section" href="/"><i class="circular folder icon"></i>Inicio</a></li>
	            <i class="right chevron icon divider"></i>
	            <li class="active"><i class="circular folder open icon"></i> Cotizaciones</li>
	        </ol>
	    </div>
	    <div class="col-lg-12">
	        <ul class="list-unstyled">
		        <li class="active">
		        	<div class="ui labeled button" tabindex="0">
	          			<div class="blue ui button"  onclick="window.location.href='add'"><i class="add icon"></i> Nuevo </div>
	          			<a class="ui basic blue left pointing label">
	            			{{cotizaciones|length}}
	          			</a>
	        		</div>
	        	</li>
	        </ul>
	    </div>
	    <div class="col-lg-12">
			<table class="ui selectable celled table">
				<thead>
			    	<tr>
			    		<th>Código</th>
			    		<th>Fecha</th>
			    		<th>Cliente</th>
			    		<th>Empleado</th>
			    		<th>Total</th>
							<th>Acciones</th>
			  		</tr>
			  	</thead>
				<tbody>
					{% for cotizacion in cotizaciones %}
					<tr>
						<td>{{cotizacion.id}}</td>
						<td>{{cotizacion.fecha}}</td>
						<td>{{cotizacion.cliente}}</td>
						<td>{{cotizacion.empleado}}</td>
						<td>{{cotizacion.total}}</td>
						<td>
							<div class="ui buttons">
								<button type="button" class="ui default icon button" onclick="window.location.href='{{cotizacion.id}}'"><i class="external icon"></i></button>
								<button type="button" class="ui yellow icon button" onclick="window.location.href='edit/{{cotizacion.id}}'"><i class="edit icon"></i></button>
								{% if request.user.is_staff %}<button type="button" class="ui negative icon button" onclick="window.location.href='delete/{{cotizacion.id}}'"><i class="remove icon"></i></button>{% endif %}
							</div>
						</td>
					</tr>
					{% endfor %}
			  	</tbody>
			</table>
	    </div>
	</div>
{% endblock content %}
