{% extends "app1/base.html" %}
{% block content %}
<script type="text/javascript">
	function habilitar(value)
	{
		if(value=="21" || value=="23" || value==true)
		{
			document.getElementById("id_razonSocial").disabled=true;
			document.getElementById("id_nombres").disabled=false;
			document.getElementById("id_apellidos").disabled=false;
		} else if(value=="22") {
			document.getElementById("id_nombres").disabled=true;
			document.getElementById("id_apellidos").disabled=true;
			document.getElementById("id_razonSocial").disabled=false;
		}
	}
	function habilitar2(value)
	{
		if(value=="24" || value==true)
		{
			document.getElementById("id_servicio").disabled=true;
			document.getElementById("id_producto").disabled=false;
			document.getElementById("id_cantidad").disabled=false;
		} else if(value=="25") {
			document.getElementById("id_servicio").disabled=true;
			document.getElementById("id_producto").disabled=true;
			document.getElementById("id_cantidad").disabled=false;
		}
	}
</script>

	<div class="row">
	    <div class="col-lg-12">
	        <h1 class="page-header">
	            {{ modelo }}
	            <small>Agregar un nuevo {{ modelo }}</small>
	        </h1>
	        <ol class="breadcrumb">
	            <li><a class="section" href="/"><i class="circular folder icon"></i>Inicio</a></li>
	            <i class="right chevron icon divider"></i>
	            <li><a class="section" href="/{{respuesta}}"><i class="circular folder icon"></i>{{modelo}}</a></li>
	            <i class="right chevron icon divider"></i>
	            <li class="active"><i class="circular folder open icon"></i> Nuevo</li>
	        </ol>
	    </div>
	    <div class="col-lg-8">
	    	<div class="ui form">
	    	{% if formulario %}
	    		{% if formulario.errors %}

		    		<div class="ui negative message">
			    	    <div class="header">Encontramos algunos problemas</div>
			    	    <ul class="list">
			    	        {% for error in formulario.errors %}
			    	            <li>El campo <b>{{ error }}</b> es requerido.</li>
			    	        {% endfor %}
			    	    </ul>
			    	</div>
		    	{% endif %}
			    <form id="formulario" method="post" enctype="multipart/form-data" action="">
			    		    	<div class="ui alert message">
			    			        <div class="header">Importante</div>
			    			    	<ul class="list">
			    			            <li>Omita a toda costa colocar ñ y tildes en los campos.</li>
			    			        </ul>
			    			    </div>
						<p>
							<button type="button" class="ui basic icon button" onclick="window.location.href='/{{respuesta}}'">
								<i class="arrow left icon"></i> Cancelar
							</button>
							{% if id %}
								<button type="button" class="ui yellow icon button" onclick="window.location.href='/{{respuesta}}/edit/{{id}}'">
									<i class="edit icon"></i> Editar
								</button>
							{% endif %}
							{% if not id %}
			    		<button type="submit" class="ui positive button">
								<i class="save icon"></i> Guardar
							</button>
							{% endif %}
							{% ifequal modelo "Cliente" %}
								{% if id %}
		              <button type="button" class="ui black icon button" onclick="window.location.href='/clientes/cotizaciones/{{id}}'">
		                  Ver cotizaciones realizadas <i class="right arrow icon"></i>
		              </button>
	          		{% endif %}
							{% endifequal %}
			    	</p>

			    	{% csrf_token %}

			    	{% for campo in formulario %}
			    	 	<div class="field"><label>{{campo.label}}</label> {{campo}} </div>
			    	{% endfor %}


			    </form>
		    {% endif %}
		    </div>
	    </div>
	</div>

	<script type="text/javascript">
		document.getElementById('{{respuesta}}').className = 'active';
	</script>

{% endblock content %}
