{% extends "base.html" %}
{% block content %}

	<script type="text/javascript">
		document.getElementById('cotizaciones').className = 'active';
	</script>
	
	<div class="row">
	    <div class="col-lg-12">
	        <h1 class="page-header">
	            Cotizaciones
	            <small>Listado de cotizaciones</small>
	        </h1>
	        <ol class="breadcrumb">
	            <li>
	                <i class="fa fa-dashboard"></i>  <a href="/">Inicio</a>
	            </li>
	            <li class="active">
	                <i class="fa fa-file"></i> Cotizaciones
	            </li>
	        </ol>
	    </div>
		<table class="ui celled table">
			<thead>
		    	<tr>
		    		<th>Código</th>
		    		<th>Fecha</th>
		    		<th>Empresa</th>
		    		<th>Cliente</th>
		    		<th>Empleado</th>
		    		<th>Total</th>
		  		</tr>
		  	</thead>
			<tbody>
				{% for cotizacion in cotizaciones %}
				<tr>
					<td><a href='/cotizaciones/{{cotizacion.id}}'>{{cotizacion.id}}</a></td>
					<td>{{cotizacion.fecha}}</td>
					<td>{{cotizacion.empresa}}</td>
					<td>{{cotizacion.cliente}}</td>
					<td>{{cotizacion.empleado}}</td>
					<td>{{cotizacion.total}}</td>
				</tr>
				{% endfor %}
		  	</tbody>
		</table>
	</div>
{% endblock content %}