{% extends "app1/base.html" %}
{% block content %}

	<script type="text/javascript">
		document.getElementById('servicios').className = 'active';
	</script>

	<div class="row">
	    <div class="col-lg-12">
	        <h1 class="page-header">
	            Servicios
	            <small>Listado de servicios</small>
	        </h1>
	        <ol class="breadcrumb">
	            <li><a class="section" href="/"><i class="circular folder icon"></i>Inicio</a></li>
	            <i class="right chevron icon divider"></i>
	            <li class="active"><i class="circular folder open icon"></i> Servicios</li>
	        </ol>
	    </div>
	    <div class="col-lg-12">
	        <ul class="list-unstyled">
		        <li class="active">
		        	<div class="ui labeled button" tabindex="0">
	          			<div class="blue ui button"  onclick="window.location.href='add'"><i class="add icon"></i> Nuevo </div>
	          			<a class="ui basic blue left pointing label">
	            			{{servicios|length}}
	          			</a>
	        		</div>
	        	</li>
	        </ul>
	    </div>
	    <div class="col-lg-12">
			<table class="ui selectable celled table">
				<thead>
			    	<tr>
			    		<th>Código</th>
			    		<th>Nombre</th>
			    		<th>Descripción</th>
			    		<th>Precio</th>
			    		<th>Acciones</th>
			  		</tr>
			  	</thead>
				<tbody>
					{% for servicio in servicios %}
					<tr>
						<td width="30">{{servicio.id}}</td>
						<td>{{servicio.nombre}}</td>
						<td>{{servicio.descripcion}}</td>
						<td>{{servicio.precio}}</td>
						<td>
							<div class="ui buttons">
								<button type="button" class="ui default icon button" onclick="window.location.href='{{servicio.id}}'"><i class="external icon"></i></button>
								<button type="button" class="ui yellow icon button" onclick="window.location.href='edit/{{servicio.id}}'"><i class="edit icon"></i></button>
								<button type="button" class="ui negative icon button" onclick="window.location.href='delete/{{servicio.id}}'"><i class="remove icon"></i></button>
							</div>
						</td>
					</tr>
					{% endfor %}
			  	</tbody>
			</table>
		</div>
	</div>
{% endblock content %}
