{% extends "base.html" %}
{% block content %}
	
	<script type="text/javascript">
		document.getElementById('empresas').className = 'active';
	</script>

	<div class="row">
	    <div class="col-lg-12">
	        <h1 class="page-header">
	            Empresas
	            <small>Listado de empresas</small>
	        </h1>
	        <ol class="breadcrumb">
	            <li>
	                <i class="fa fa-dashboard"></i>  <a href="/">Inicio</a>
	            </li>
	            <li class="active">
	                <i class="fa fa-file"></i> Empresas
	            </li>
	        </ol>
	    </div>
		<table class="ui celled table">
			<thead>
		    	<tr>
		    		<th>Código</th>
		    		<th>Identificación</th>
		    		<th>Razón social</th>
		    		<th>Direccion</th>
		  		</tr>
		  	</thead>
			<tbody>
				{% for empresa in empresas %}
				<tr>
					<td>{{empresa.id}}</td>
					<td>{{empresa.identificacion}}</td>
					<td>{{empresa.razonSocial}}</td>
					<td>{{empresa.direccion}}</td>
				</tr>
				{% endfor %}
		  	</tbody>
		</table>
	</div>
{% endblock content %}